/* Reset styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* include padding and border into elements total sizing */
}

a {
	text-decoration: none;
	color: inherit; /* inherit color from parent element */
}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

img {
	height: 100%;
	width: 100%;
	display: block;
}

body {
	line-height: 1.5;
	height: 100vh;
	font-family: 'Roboto';
	color: #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

/* main content */

.container {
	width: 650px;
	min-height: 450px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px 30px;
	border: 1px solid #dedede;
	background-color: #132743;
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.heading,
.output {
	flex: 1;
}

/* heading */

.heading {
	text-align: center;
}

.heading h1 {
	margin-bottom: 8px;
}

.info {
	color: #bbb;
}

#rules {
	display: none;
	background-color: #1f406d;
	padding: 10px;
	border-radius: 5px;
}

/* show rules */
#rules.show {
	display: block;
}

/* buttons */

.buttons {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 16px;
	margin: 25px 0;
}

.btn {
	max-width: 128px;
	max-height: 128px;
	background-color: #465a76;
	padding: 12px;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.btn:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 2px #465a76;
}

/* output */

.output {
	padding: 8px 20px;
	background-color: #1f3f6dcb;
	border-radius: 5px;
}

#restart,
#show-rules {
	margin: 10px auto;
	padding: 6px;
	color: inherit;
	text-transform: uppercase;
	background-color: #465a76;
	border: 1px solid #aaa;
	font-weight: 700;
	border-radius: 5px;
	transition: all 0.3s ease;
}

#restart {
	display: none;
	font-size: 15px;
	padding: 8px 10px;
}

#restart:hover,
#show-rules:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 2px #465a76;
}

#outcome {
	text-align: center;
	font-size: 22px;
	margin-bottom: 35px;
}

.selection,
.scores {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.text,
.progress label {
	flex: 1;
	font-size: 18px;
	text-align: center;
}

.text > span {
	color: #fff;
}

.progress label,
.progress progress {
	display: block;
	margin: 10px auto;
}

.progress {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

progress {
	width: 65%;
	height: 25px;
	border-radius: 1px;
	position: relative;
}

progress::after {
	content: attr(data-value);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 18px;
}

progress::-webkit-progress-bar {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding: 4px;
}

progress::-webkit-progress-value {
	background-color: #3771c2;
	border-radius: 15px;
}
