/* Reset styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* include padding and border into elements total sizing */
}

a {
	text-decoration: none;
	color: inherit; /* inherit color from parent element */
}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

img {
	/* height: 100%;
	width: 100%; */
	display: block;
}

body {
	height: 100vh;
	font-family: 'Roboto';
	color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.container {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid #dedede;
	background-color: #132743;
}
